<!-- <div *ngIf="!hasLoggedIn">
   <store-selector (chooseuser)="userenter($event)" (chooseShop)="afterShopSelected($event)"></store-selector> 
</div> -->
<!-- <div *ngIf="hasLoggeduser">
    <app-admin (chooseuser)="userenter($event)"></app-admin>
  </div> -->
<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="hasLoggedIn; then haslog; else elseblock"></div>
<ng-template #haslog>
    <store-selector (chooseuser)="userenter($event)" (chooseShop)="afterShopSelected($event)"></store-selector>
</ng-template>
<ng-template #elseblock>
    <div *ngIf="Admin; then haslog; else elseblock"></div>
    <ng-template #haslog>
        <div class="container-fluid">
            <div class="col-md-12" >
               
              <div class="row">
                
                <div class="col-md-2">
                  <div class="bakery_logo">
                  <span class="anumod">ANUMOD </span>
                  <span class="bakery">BAKERY</span>
                </div>
                  <!-- <h4>{{title | uppercase}}</h4> -->
                </div>
                
                <div class="col-md-8" style="padding: 7px;">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                     
                      </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-static-top">
                    <li role="presentation"  >
                      <a routerLink='bill' routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li role="presentation" class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <!-- <li>
                          <a routerLink='product' routerLinkActive="active">Add Products</a>
                        </li> -->
                        <li>
                          <a routerLink='product-list' routerLinkActive="active">List Products</a>
                        </li> 
                        <!-- <li>
                            <a routerLink='flavour-add' routerLinkActive="active">Add Flavours</a>
                          </li>  -->
                          <li>
                              <a routerLink='flavour-list' routerLinkActive="active">List Flavours</a>
                            </li> 
                      </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Orders
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                          <li>
                              <a [routerLink]="['Orderslist',{shop:shop.shopName}]" routerLinkActive="active">Orders List</a>
                            </li>
                            <li>
                                <a [routerLink]="['pendinglist',{shop:shop.shopName}]" routerLinkActive="active">Pending List</a>
                              </li>
                              <li>
                                  <a [routerLink]="['Inproductionlist',{shop:shop.shopName}]" routerLinkActive="active">Production List</a>
                                </li>
                                <li>
                                    <a [routerLink]="['Instocklist',{shop:shop.shopName}]" routerLinkActive="active">Stock List</a>
                                  </li>
                                  <li>
                                      <a [routerLink]="['Cancellist',{shop:shop.shopName}]" routerLinkActive="active">Cancel List</a>
                                    </li>
                      </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Customers
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <!-- <li>
                          <a routerLink='customer-add' routerLinkActive="active">Add Customers</a>
                        </li> -->
                        <li>
                          <a routerLink='customer-list' routerLinkActive="active">List Customers</a>
                        </li>
                      </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sales
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                        
                        <li>
                            <a [routerLink]="['delivery-report',{shop:shop.shopName}]" routerLinkActive="active">Delivery Report</a>
                          </li>
                          <li>
                              <a [routerLink]="['sales-report',{shop:shop.shopName}]" routerLinkActive="active">All Sales Report</a>
                            </li>
                        <!-- <li>
                            <a routerLink='All-Sales-Report' routerLinkActive="active">All Sales Report</a>
                          </li> -->
                      </ul>
                    </li>
                    <!-- <li role="presentation" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shops
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li>
                            <a routerLink='shops-add' routerLinkActive="active">Add Shops</a>
                          </li>
                          <li>
                              <a routerLink='shops-list' routerLinkActive="active">List Shops</a>
                            </li>
                        </ul>
                      </li> -->
          
                  </ul>
          
                </div>
              </nav>
                </div>
              
                <div class="col-md-2">
                 
                  <button mat-button  routerLink='' routerLinkActive="active" (click)="changeShopName()" class="main-shopname"><h6 class="admin-1 family"><b>{{shop.shopName | uppercase}} SHOP</b></h6></button>
                
                
                </div>
          
          
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                  <router-outlet></router-outlet>
                </div>
              </div>
            </div>
          </div>
       
      </ng-template>
      <!-- ADMIN BLOCK -->
      <ng-template #elseblock>
          <div class="container-fluid">
              <div class="col-md-12" >
                 
                <div class="row">
                  
                  <div class="col-md-2">
                      <div class="bakery_logo">
                          <span class="anumod">ANUMOD </span>
                          <span class="bakery">BAKERY</span>
                        </div>
                  </div>
                  
                  <div class="col-md-8" style="padding: 7px;">
                      <nav class="navbar navbar-default">
                          <div class="navbar-header">
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                  <span class="sr-only">Toggle navigation</span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                </button>
                       
                        </div>
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-static-top">
                      <li role="presentation"  >
                        <a routerLink='bill-1' routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
                      </li>
                      <li role="presentation" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li>
                            <a routerLink='product' routerLinkActive="active">Add Products</a>
                          </li>
                          <li>
                            <a [routerLink]="['product-list',{admin:edit}]" routerLinkActive="active">List Products</a>
                          </li> 
                          <li>
                              <a routerLink='flavour-add' routerLinkActive="active">Add Flavours</a>
                            </li> 
                            <li>
                                <a [routerLink]="['flavour-list',{admin:edit}]" routerLinkActive="active">List Flavours</a>
                              </li> 
                        </ul>
                      </li>
                      <li role="presentation" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Orders
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li>
                            <a [routerLink]="['orderlist',{admin:edit}]" routerLinkActive="active">Orders List </a>
                          </li>
                          <li>
                              <a [routerLink]="['pendinglist',{admin:edit}]" routerLinkActive="active">Pending List</a>
                            </li>
                            <li>
                                <a [routerLink]="['Inproductionlist',{admin:edit}]" routerLinkActive="active">Production List</a>
                              </li>
                              <li>
                                  <a [routerLink]="['Instocklist',{admin:edit}]" routerLinkActive="active">Stock List</a>
                                </li>
                                <!-- <li>
                                    <a [routerLink]="['Cancellist',{admin:edit}]" routerLinkActive="active">Cancel List</a>
                                  </li> -->
                            
                        </ul>
                      </li>
                      <li role="presentation" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Customers
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li>
                            <a routerLink='customer-add' routerLinkActive="active">Add Customers</a>
                          </li>
                          <li>
                            <a [routerLink]="['customer-list',{admin:edit}]" routerLinkActive="active">List Customers</a>
                          </li>
                        </ul>
                      </li>
                      <li role="presentation" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sales
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a [routerLink]="['delivery-report',{admin:edit}]" routerLinkActive="active">Delivery Report</a>
                              </li>
                          <!-- <li>
                            <a [routerLink]="['sales-report',{admin:edit}]" routerLinkActive="active">Sales Report</a>
                          </li> -->
                          <li>
                              <a [routerLink]="['All-Sales-Report',{admin:edit}]" routerLinkActive="active">All Sales Report</a>
                            </li>
                            
                        </ul>
                      </li>
                      <li role="presentation" class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shops
                            <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                            <li>
                              <a routerLink='shops-add' routerLinkActive="active">Add Shops</a>
                            </li>
                            <li>
                                <a [routerLink]="['shops-list',{admin:edit}]" routerLinkActive="active">List Shops</a>
                              </li>
                          </ul>
                        </li>
            
                    </ul>
            
                  </div>
                </nav>
                  </div>
                
                  <div class="col-md-2 ">
                    
                    <button mat-button  routerLink='' routerLinkActive="active" (click)="Adminlogout()" class="main-shopname1"><h5 class="admin-2 family"><b>ADMIN</b></h5></button>
                  </div>
                 
            
            
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-10">
                    <router-outlet></router-outlet>
                  </div>
                </div>
              </div>
            </div>
         
        </ng-template>

</ng-template>






<!-- <div *ngIf="hasLoggeduser" class="container-fluid">
    <div class="col-md-12" >
       
      <div class="row">
        
        <div class="col-md-2">
          <h3>{{title |uppercase}}</h3>
        </div>
        
        <div class="col-md-7" style="padding: 7px;">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
             
              </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-static-top">
            <li role="presentation"  >
              <a routerLink='bill' routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
            </li>
            <li role="presentation" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a routerLink='product' routerLinkActive="active">Add Products</a>
                </li>
                <li>
                  <a routerLink='product-list' routerLinkActive="active">List Products</a>
                </li> 
                <li>
                    <a routerLink='flavour-add' routerLinkActive="active">Add Flavours</a>
                  </li> 
                  <li>
                      <a routerLink='flavour-list' routerLinkActive="active">List Flavours</a>
                    </li> 
              </ul>
            </li>
            <li role="presentation" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Orders
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a routerLink='orderlist' routerLinkActive="active">List Orders</a>
                </li>
              </ul>
            </li>
            <li role="presentation" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Customers
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a routerLink='customer-add' routerLinkActive="active">Add Customers</a>
                </li>
                <li>
                  <a routerLink='customer-list' routerLinkActive="active">List Customers</a>
                </li>
              </ul>
            </li>
            <li role="presentation" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sales
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a routerLink='sales-report' routerLinkActive="active">Sales Report</a>
                </li>
              </ul>
            </li>
            <li role="presentation" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shops
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a routerLink='shops-add' routerLinkActive="active">Add Shops</a>
                  </li>
                  <li>
                      <a routerLink='shops-list' routerLinkActive="active">List Shops</a>
                    </li>
                </ul>
              </li>
  
          </ul>
  
        </div>
      </nav>
        </div>
      
        <div class="col-md-2 main-shop1 ">
           <button mat-button (click)="changeShopName()" class="main-shop"><h3>{{shop.shopName | uppercase}} SHOP</h3></button> 
          <button mat-button (click)="changeShopName()" class="main-shop"><h3>{{username | uppercase}}</h3></button>
        </div>
  
  
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div> -->