.order_1{
    float: right;
}
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  tr.mat-row{
    height: 18px;
  }
  .print_order{
    right: 30px;
    position: relative;
  }
  .none{
    display: none;
  }
  #myTab {
    right: 0px;
}