
<div class="row">
  <div class="col-md-5">
  <h1 class="header_1">Inproduction List</h1>
</div>
<div class="col-md-6">
  <h1>
      <button mat-button (click)="onSubmit()" class="production_b1 family" href="#" style="background-color:#68829e;color:white"><b>Move to InStock</b></button>
</h1>
</div>
</div>
    <div class="align">
    <div class="col-md-12">
    <div class="example-header">
      <mat-form-field>
        <input matInput  type="text" id="myInput" [(ngModel)]="anynumber" (keyup)="applyFilter()" placeholder="Filter">
      </mat-form-field>
    </div>
  
    <table class="table" id="myTab">
        <tr class="header">
            <th>S/No</th>
            <th>Id</th>
            <th>Customer Name</th>
            <th>Mobile</th>
            <th>Advance</th>
            <th>Total</th>
            <th>OrderDate</th>
            <th>ExpectedDate</th>
            <th>ExpectedTime</th>
            <th>Shop</th>
            <th> <mat-checkbox (change)="$event ? masterToggle() : null" (click)="onAllClick()"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
  </mat-checkbox></th>
          </tr>
     <tr *ngFor="let element of salesorder; let i = index">
       <td>{{i+1}}</td>
        <td>{{element.customid}}</td>
        <td>{{element.customer.name}}</td>
     <td>{{element.customer.mobile}}</td>
     <td>{{element.advance}}</td>
     <td>{{element.total}}</td>
     <td>{{element.orderedDate}}</td>
     <td>{{element.expectedDate}}</td>
     <td> {{element.expectedTime}} </td>
     <td> {{element.shop.shopName | uppercase}}</td>
     <td><mat-checkbox (click)="$event.stopPropagation()" (click)="onclick(element)"
      (change)="$event ? selection.toggle(element) : null"
      [checked]="selection.isSelected(element)">
</mat-checkbox></td>
     </tr>
                
    </table>
  </div>
</div>